.blankDiv {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}

.imageDiv {
  margin: 0 0 20px;
  position: relative;
  text-align: center;
  transition: 0.8s;
  background-size: cover;
  background-color: #555;
  background-image: url(https://cdn.pixabay.com/index/2020/04/22/11-35-52-558_1440x480.jpg);
  background-position: center;
}

.topText {
  /* margin-top: 10rem; */
  color: #fff;
}

.inputBase input {
  padding-left: 1.5rem;
}

.iconButton {
  padding-right: 1.5rem !important;
}
